
file_io.egg-info*
file_io/config/cache/env.pkl
build.sh
*.vscode
*cache
*__pycache__
*logs
*dist
*build
workspace.code-workspace
.DS_Store
fileio/tests/test3.py
fileio/tests/test2.py
_fileio/*
tests/*